@import url("forms_en.css");
@import url("category_itmes_en.css");
@import url("items_details_en.css");
@import url("show_shopping_cart_footer.css");
@import url("search_bar_menu_bar_en.css");
@import url("item_display_stylesheet_en.css");
@import url("drop_down_menu_en.css");
@import url("left_side_floating_menu.css");
@import url("checkout_en.css");

* {
	margin: 0;
	padding: 0;
} 
@font-face {
 font-family:MyCustomFont;
 src: url("../font/NeoSansArabic.ttf") /* TTF file for CSS3 browsers */
}
html{
	overflow: -moz-scrollbars-vertical;
	height:100%;
	min-height:100%;
	background-image:url(../images/bg_zorkif_2.png);
	background-repeat:repeat;
}
body{
	font-family:MyCustomFont;
}
.ajax_loading{
	background-image:url(../images/ajax_loading.gif);
	background-repeat:no-repeat;
}
.vs_selected {
	/* [disabled]background-image:url(../images/vs_selected_bg.jpg); */
	/* [disabled]background-repeat:repeat; */
}
.deal_selected {
	/* [disabled]background-image:url(../images/deal_selected_bg.jpg); */
	/* [disabled]background-repeat:repeat; */
}

#page_default_center_width {
	width:980px;
	margin:0 auto;
}


#error {
	background: #a90329; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5MDMyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzhmMDIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZDAwMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-8 */

	background-image:url(../images/message_box/red.png);
	background-repeat:repeat-x;
	border-bottom-width:3px;
	border-bottom-style:solid;
	border-bottom-color: #a90329;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #ffffff;
    height:60px;
	padding-top:30px;
	text-align:center;
	display:none;
	position:fixed;
	top:0px;
	width:100%;
	z-index:999999;	
}
#error .error_icon{
	width:28px;
	height:30px;
	margin-right:28px;
	background:url(../images/message_box/error.png) 0 -4px;
	background-repeat:no-repeat;
}
#warning {
	background: #fefcea; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmNlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWRhMzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fefcea 0%, #f1da36 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fefcea 0%,#f1da36 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-8 */
	
	background-image:url(../images/message_box/yellow.png);
	background-repeat:repeat-x;
	border-bottom-width:3px;
	border-bottom-style:solid;
	border-bottom-color:#fefcea;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333;
	height:60px;
	padding-top:30px;
	text-align:center;
	display:none;
	position:fixed;
	top:0px;
	width:100%;
	z-index:999999;
}

#warning .warning_icon{
	width:28px;
	height:30px;
	margin-right:28px;
	background:url(../images/message_box/warning.png) 0 -4px;
	background-repeat:no-repeat;
 
}
#notification {
	background: #fcffe0; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iI2ZjZmZlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4ZmM0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fcffe0 5%, #8fc400 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fcffe0), color-stop(100%,#8fc400)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcffe0 5%,#8fc400 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcffe0 5%,#8fc400 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcffe0 5%,#8fc400 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcffe0 5%,#8fc400 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcffe0', endColorstr='#8fc400',GradientType=0 ); /* IE6-8 */
	
	background-image:url(../images/message_box/green.png);
	background-repeat:repeat-x;
	border-bottom-width:3px;
	border-bottom-style:solid;
	border-bottom-color:#fcffe0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333;
	height:60px;
	padding-top:30px;
	text-align:center;
	display:none;
	position:fixed;
	top:0px;
	width:100%;
	z-index:999999;
}
#notification .notification_icon{
	width:28px;
	height:30px;
	margin-right:28px;
	background:url(../images/message_box/notification.png) 0 -4px;
	background-repeat:no-repeat;
 
}
 
 
#header {
	margin:0px;
	display:block;
	background-color:#242424;
	height:140px;
	border-bottom-width: 4px;
	border-bottom-style: groove;
	border-bottom-color: #FFF;
	margin-bottom:10px;
	/* background:url(../images/sprite_full_image.png) 0px -114px; */
	background:url(../images/bg_zorkif.jpg);
	background-repeat:repeat !important;
	clear:both;
 
}
#header #set_width_height {
	margin:0 auto;
	width:980px;
	/* [disabled]background-color:#FFF; */
	height:140px;
}

#header #set_width_height #logo {
	width:200px;
	height:140px;
	/* [disabled]background-color:#FF0; */
	float:left; /* for English Make it float to the left */
	background-image: url(../images/logo.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

/* Start of Tabs CSS */
#header #set_width_height #tabs {
	width:560px;
	height:40px;
	/* [disabled]background-color:#69C9E0; */
	margin-top:100px;
	float:left; /* for English Make it float to the left */
}
#header #set_width_height #tabs ul  {
	 
	
 	height:40px;
	list-style-type: none;
}
#header #set_width_height #tabs ul li {
	float:left; /* for English Make it float to the left */
	width:270px;
	height:30px;
	/* margin-left:10px;    /* This is for English */
	margin-right:10px;      /* This is for Arabic */
	text-align:center;
}
#header #set_width_height #tabs ul li a{
	width:270px;
	height:30px;
	text-decoration: none;
    color: white;
	display:block;
	padding-top:10px;

}
#header #set_width_height #tabs ul li a.deals{
		background: url(../images/sprite_full_image.png) 0 0;
}
#header #set_width_height #tabs ul li a.virtual_stores{
		background: url(../images/sprite_full_image.png) -273px 0;
}
#header #set_width_height #tabs ul li a:hover{
	width:270px;
	height:30px;
	text-decoration: none;
    color: white;
	display:block;
	padding-top:10px;
	background: url(../images/sprite_full_image.png) -546px 0;
}

/*   End of Tabs CSS */

/* Start of Languages Icons */
#header #set_width_height #language_button {
	width:208px;
	height:99px;
	margin-top:0px;
	float:right; /* for English Make it float to the left */
	position:relative;
	top:0px;
	left:0px;
	overflow:hidden;
 
}
#header #set_width_height #language_button ul  {
	height:99px;
	list-style-type: none;
}
#header #set_width_height #language_button ul li.english_button {
	float:left; /* for English Make it float to the left */	
	width:97px;
	height:99px;
	/* margin-left:10px;    /* This is for English */
	margin-right:5px;      /* This is for Arabic */
	text-align:center;
	position:absolute;
	top:0px;
	left:0px;
}
#header #set_width_height #language_button ul li.arabic_button {
	float:left; /* for English Make it float to the left */	
	width:97px;
	height:99px;
	/* margin-left:10px;    /* This is for English */
	margin-right:5px;      /* This is for Arabic */
	text-align:center;
	position:absolute;
	top:0px;
	left:50px;
}
#header #set_width_height #language_button ul li a{
	width:97px;
	height:99px;
	text-decoration: none;
    color: white;
	display:block;
	padding-top:5px;
 
 

}
#header #set_width_height #language_button ul li a.englih{
		background: url(../images/sprite_full_image.png) -200px -252px;

}
#header #set_width_height #language_button ul li a.arabic{
		background: url(../images/sprite_full_image.png) 0 -252px;
		
}
#header #set_width_height #language_button ul li a:hover.englih{
	width:97px;
	height:99px;
	text-decoration: none;
    color: white;
	display:block;
	padding-top:5px;
	background: url(../images/sprite_full_image.png)  -299px -252px;
}

#header #set_width_height #language_button ul li a:hover.arabic{
	width:97px;
	height:99px;
	text-decoration: none;
    color: white;
	display:block;
	padding-top:5px;
	background: url(../images/sprite_full_image.png) -100px -252px;
}

/* End of Languages Icons */



/* Start of Sign  In / Sign Up Css */
#header #set_width_height #sign_in_sign_up {
	width:180px;
	height:30px;
	/* [disabled]background-color:#69C9E0; */
	margin-top:5px;
	float:left; /* for English Make it float to the left */
	
}



#header #set_width_height #UserAccountMenu{
	width:210px;
	height:36px;
	_height:37px;
	margin-top:5px;
	float:left; /* for English Make it float to the left */	 
	color:#FFF;

}
#header #set_width_height #UserAccountMenu a{
	color:#FFF;
	text-decoration:none;
	font-size:1em;
}

#header #set_width_height #UserAccountMenu #UserDetailsMenu {

	display:block;
	width:24px;
	height:24px;
	background-image:url(../images/down_arrow.png);
	float:right;

}
#header #set_width_height #UserAccountMenu #UserDetailsMenu:hover{
	display:block;
	width:24px;
	height:24px;
	background-image:url(../images/down_arrow_hover.png);
	float:right;

}
#UserDetailsMenuList {
	display:none;
	width:220px;
	height:auto;
	border-width:1px;
	border-color:#CCC;	
	position:relative;
	top:17px;
	z-index:99999;
	
	background: #7d7e7d; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
opacity:.95;
filter:alpha(opacity=95);
filter: "alpha(opacity=95)";
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-8 */



-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;

}
#UserDetailsMenuList ul {	
	list-style:none;
	list-style-type:none;
	
}
#UserDetailsMenuList ul li {
	height:2em;
	padding-left:10px;
	padding-right:10px;
}
#UserDetailsMenuList ul li:hover {
	background-color:#333;

}
#UserDetailsMenuList .last:hover {
	background-color:#333;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

}
#UserDetailsMenuList a {
	color:#FFF;
	font-size:1em;	
	text-decoration:none;
}
#UserDetailsMenuList a:hover {
	color:#94D200;
		
}

.cpanel_link_title {
	padding-top:4px;

	
}
#account_settings_icon {
	width:24px;
	height:24px;
	background:url(../images/user_cpanel_sprite.png) 0 -24px;
	float:left;
	margin-right:5px;
}
#change_password_icon {
	width:24px;
	height:24px;
	background:url(../images/user_cpanel_sprite.png) 0 -78px;
	float:left;
	margin-right:5px;
}
#shopping_cart_icon {
	width:24px;
	height:24px;
	background:url(../images/user_cpanel_sprite.png) 0 -138px;
	float:left;
	margin-right:5px;
}
#sign_out_icon {
	width:24px;
	height:24px;
	background:url(../images/user_cpanel_sprite.png) 0 -196px;
	float:left;
	margin-right:5px;
}
#header #set_width_height #sign_in_sign_up ul  {
 	height:30px;
	list-style-type: none;
}
#header #set_width_height #sign_in_sign_up ul li {
	float:right; /* for English Make it float to the left */
	
	width:80px;
	height:30px;
	/* margin-left:10px;    /* This is for English */
	margin-right:10px;      /* This is for Arabic */
	text-align:center; 
}
#header #set_width_height #sign_in_sign_up ul li a{
	width:80px;
	height:30px;
	text-decoration: none;
    color: white;
	display:block;
	padding-top:10px;
}
#header #set_width_height #sign_in_sign_up ul li a.sign_in{
		  background: url(../images/sprite_full_image.png) -167px -43px;
}
#header #set_width_height #sign_in_sign_up ul li a:hover.sign_in{
	width:80px;
	height:30px;
	text-decoration: none;
    color: white;
	display:block;
	 
	background: url(../images/sprite_full_image.png) -251px -43px;
}
#header #set_width_height #sign_in_sign_up ul li a.sign_up{
	background: url(../images/sprite_full_image.png) no-repeat  -0px -43px;
}
#header #set_width_height #sign_in_sign_up ul li a:hover.sign_up{
	width:80px;
	height:30px;
	text-decoration: none;
    color: white;
	display:block;
	background: url(../images/sprite_full_image.png) -83px -43px;
}

/* End of Sign in / Sign Up Css */

.top_corner{
	/* [disabled]background-image:url(../images/corner_blue.png); */
	/* [disabled]background-repeat:no-repeat; */
	width:67px;
	height:66px;
	position:relative;
	top:-17px;
	left:-17px;
	z-index:99998;
}

.bottom_corner{
	/* [disabled]background-image:url(../images/corner_green.png); */
	/* [disabled]background-repeat:no-repeat; */
	width:67px;
	height:66px;
	right:0px;
	bottom:-10px;
	position:absolute;
	float:right;
}
.contant_wrapper{
	position:relative;
	top:-66px;	
}



/* Start of Data Entry Form  */
#data_entry_form {	
	width:auto;
	height:auto;
	background-color:#f0efef;
	padding:15px;	
	margin-bottom:10px;
	overflow:hidden;
	position:relative;
}
/* End of Data Entry Form*/

/* Start of Mix Css  Things */

.round_borders {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border: 2px solid #8D8D8D;
}
 /* Start of  Gradiant */


.gradient{

/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZTZlNmU2IiBzdG9wLW9wYWNpdHk9IjAuNjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhmOGY4ZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(45deg,  rgba(230,230,230,0.65) 0%, rgba(143,143,143,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(230,230,230,0.65)), color-stop(100%,rgba(143,143,143,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(230,230,230,0.65) 0%,rgba(143,143,143,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(230,230,230,0.65) 0%,rgba(143,143,143,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(230,230,230,0.65) 0%,rgba(143,143,143,0) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(230,230,230,0.65) 0%,rgba(143,143,143,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6e6e6e6', endColorstr='#008f8f8f',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	
}

 /* End of  Gradiant */

br { display:block;clear:both;width:100%}

 
table, td, tr,th { 
	margin:0;
	border:0;
	padding:0;
}
/* End of Mix Css Things */

/* Start of news  */
#news {
	width:955px; 
	height:22px;
	margin-bottom:15px;
	padding:10px;	  
 	background-color:#fd9a0f;
	background-repeat:repeat-x;
	background-image:-moz-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fee94f),color-stop(100%,#fd9a0f));
	background-image:-webkit-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	background-image:-ms-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	background-image:-o-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	background-image:linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee94f',endColorstr='#fd9a0f',GradientType=0);
	border-color:#fa2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size:1.3em;
	direction:ltr;
	text-align:left;
}
/* End of news */

/* Start of page_contents  */
#page_contents {
	width:auto;
	background-color:#FFF;
	padding:15px;
	margin-bottom:10px;
	direction:ltr;
	overflow:hidden;
}
/* End of page_contents */

/* Start of Footer  */ 
.footer {
	margin:0px;
	border-top-width: 2px;
	border-top-style: groove;
	border-top-color: #FFF;
	margin-top:10px;
	padding:10px;
	/* [disabled]background-image:url(../images/footer_bg.jpg); */
	background-color: #000;
}
.footer img {
	border:0px;
	
}
.footer a, a:hover, a:active {
	border:0px;
	text-decoration:none;
	
}
.footer #first_footer {
	margin:0 auto;
	width:980px;
	min-height:200px;

}

.footer #second_footer {
	margin:0 auto;
	width:980px;
	height:500px;
	background-color:#333;
	background-image:url(../images/last_footer.jpg);
	
}
.footer #second_footer #top_row{
	margin:0 auto;
	width:980px;
	height:250px;
	color:#666;	

}
.footer #second_footer #top_row h1{
	color:#FFF;
}

.footer #second_footer #top_row #first_column{
	width:500px;
	height:230px;
	float:left;
	padding:10px;
}
.footer #second_footer #top_row #social_networking{
	margin-top:30px;
}

.footer #second_footer #top_row #second_column{
	width:300px;
	height:230px;
	float:right;
	padding:10px;		
}

.footer #second_footer a,a.active{
	text-decoration:none;
	color:#666;	 	
}
.footer #second_footer a:hover{
	text-decoration:none;
	color:#FFF;	
}
/* End of Footer  */

/* Format The Footer Columns */
.footer #second_footer #column_wrapper{
	width:205px;
	height:140px;
	padding:10px;
	margin:10px;
	color:#FFF;
	font-size:0.9em;
	float:left;
	overflow:hidden;
}
.footer #second_footer #column_wrapper h4{
	font-size: 1.1em;
	text-transform: capitalize;
	color: #FFF;
	/* [disabled]border-bottom-width: 1px; */
	/* [disabled]border-bottom-style: dashed; */
	/* [disabled]border-bottom-color:#666; */
	padding-bottom: 5px;
	/* [disabled]margin-bottom: 10px; */
	/* [disabled]height: 22px; */
}

.footer #second_footer #column_wrapper h4.Heading1{
	height: 50px;
	background-image:url(../images/footer/footer_header1en.png);
	
}
.footer #second_footer #column_wrapper h4.Heading2{
	height: 50px;
	background-image:url(../images/footer/footer_header2en.png);
	
}
.footer #second_footer #column_wrapper h4.Heading3{
	height: 50px;
	background-image:url(../images/footer/footer_header3en.png);
	
}
.footer #second_footer #column_wrapper h4.Heading4{
	height: 50px;
	background-image:url(../images/footer/footer_header4en.png);
	
}
.footer #second_footer #column_wrapper .column_icon {
	position:relative;
	float:right;
	width:50px;
	height:50px;
	top:-47px;
	right:-5px;

	
}
.footer #second_footer #column_wrapper ul{
	list-style:none;
	line-height:1.6em;
	letter-spacing:0.15em;
}

/* End of Format the Footer Columns */

/*Back to Top Button*/

#back-top {
	position: fixed;
	bottom: 50px;
	left: 90%;
	z-index:10000;
	display:block;
}

#back-top a {
	width: 80px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #7f7f7f;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}

/* arrow icon (span tag) */
#back-top span {
	width: 50px;
	height: 50px;
	display: block;
	margin-left:15px;
	margin-bottom: 7px;
	background: #afafaf url(../images/up_arrow.png) no-repeat center center;

	/* rounded corners */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #777;
}

 

/* =========== Start of Griadent ===================== */

.griadent_saima {
background: rgb(157,213,58); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOWRkNTNhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzUlIiBzdG9wLWNvbG9yPSIjYTFkNTRmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjElIiBzdG9wLWNvbG9yPSIjODBjMjE3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdjYmMwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(-45deg,  rgb(157,213,58) 0%, rgb(161,213,79) 35%, rgb(128,194,23) 61%, rgb(124,188,10) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgb(157,213,58)), color-stop(35%,rgb(161,213,79)), color-stop(61%,rgb(128,194,23)), color-stop(100%,rgb(124,188,10))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgb(157,213,58) 0%,rgb(161,213,79) 35%,rgb(128,194,23) 61%,rgb(124,188,10) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgb(157,213,58) 0%,rgb(161,213,79) 35%,rgb(128,194,23) 61%,rgb(124,188,10) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgb(157,213,58) 0%,rgb(161,213,79) 35%,rgb(128,194,23) 61%,rgb(124,188,10) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgb(157,213,58) 0%,rgb(161,213,79) 35%,rgb(128,194,23) 61%,rgb(124,188,10) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
 
 
}

.griadent_misbah {
background: rgb(122,188,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjN2FiY2ZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDQlIiBzdG9wLWNvbG9yPSIjNjBhYmY4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQwOTZlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(-45deg,  rgb(122,188,255) 0%, rgb(96,171,248) 44%, rgb(64,150,238) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgb(122,188,255)), color-stop(44%,rgb(96,171,248)), color-stop(100%,rgb(64,150,238))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgb(122,188,255) 0%,rgb(96,171,248) 44%,rgb(64,150,238) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgb(122,188,255) 0%,rgb(96,171,248) 44%,rgb(64,150,238) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgb(122,188,255) 0%,rgb(96,171,248) 44%,rgb(64,150,238) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgb(122,188,255) 0%,rgb(96,171,248) 44%,rgb(64,150,238) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

}
/* =========== End of Griadent ======================= */

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
.validation_message {
	width:19px;
	height:19px;	
	position:relative;
	top:-33px;
	left:2px;
	float:left;
}
.correct{
	background:url(../images/tick_cross_sprit.png) 0 -19px;
 
}
.incorrect{
	background:url(../images/tick_cross_sprit.png) 0 0px;
 
}

#user_profile {
	
}

#user_profile #user_profile_picture {
	border-width:1px;
	border-style:solid;
	border-color:#666;
	width:160px;
	height:160px;
	padding:10px;
	float:right;
	
}
#user_profile #user_profile_details {
	width:670px;
	height:160px;
	padding:10px;
	float:right;
	
}
#show_categories {
	
}

#show_sub_categories {
	
}
.clear_all{
	clear:both;	
}
.explaination_note{
	width: 92%;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	margin: 10px;
	background-color: #94b909;
	color: #FFF;
	border-radius: 5px;
}
.explaination_note h2{
	margin:10px;	
}

.MessageBox{
	width: 97%;	
	text-align: left;
	text-decoration: none;
	margin: 10px;
	background-color: #144A6B;
	color: #FFF;
	border-radius: 5px;
	padding-bottom:10px;
}
.MessageBox p{	
	padding:10px;
}
.MessageBox .MessageTitle{
	width:97.7%;
	float:left;
	background-color: #165276;
	border-radius: 5px;
	padding:10px;
	font-size:1.2em;
	margin-bottom:10px;
}
